*{
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size: 17px;
    padding: 8px;
}
.container{
    background-color: #4ebde9;
    padding: 40px 100px 5px 30px;
    border: 1px solid rgb(219, 229, 231);
    border-radius: 4px;
    width: 900px;
    margin: auto;
}
input[type="text"],
input[type="date"],
select,
textarea{
    width: 90%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
    left: 120px;
    top: -39px;
    right: 70px;
    line-height: 20px;
    
}


.main{
    text-align: center;
    text-decoration: underline;
    padding-bottom: 20px;
}
input[type="submit"]{
    background-color: #13c640;
    color: white;
    padding: 12px 65px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
   

}
input[type="submit"]:hover{
    background-color: #4c4c4c;
}
input[type="clear"]{
    background-color: #1b3ce1;
    color: white;
    padding: 12px 9px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}
input[type="clear"]:hover{
    background-color: #4c4c4c;
}
